<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Taproom | Coatcheck done faster.</title>
  <meta name='description' content='Eliminating the claim ticket for a seamless coatcheck experience.'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta property='og:type' content='website'>
  <meta property='og:locale' content='en_US'>
  <meta property='og:url' content='https://www.gotaproom.com'>
  <meta property='og:title' content="Taproom | Coatcheck done faster.">
  <meta name="twitter:title" content="Taproom | Coatcheck done faster.">
  <meta property='og:description' content='Eliminating the claim ticket for a seamless coatcheck experience.'>
  <meta name="twitter:description" content="Eliminating the claim ticket for a seamless coatcheck experience.">
  <meta property='og:image' content='img/features/iphone_mockup_payment.jpg'>
  <meta name="twitter:image" content='img/features/iphone_mockup_payment.jpg'>
  <link rel="canonical" href="https://www.gotaproom.com/">
  <link rel="icon" href="img/favicon.png" type="image/x-icon" />
</head>

<body>
  <h2>Hello world.</h2>
</body>

</html>
