<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yaron Cohen | Web Innovation</title>
  <meta name='description' content='Yaron Cohen is a web developer and data analyst who loves innovation and web-related stuff. In this website, he presents his capailities to the world'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta property='og:type' content='website'>
  <meta property='og:locale' content='en_US'>
  <meta property='og:url' content='https://www.yaron-cohen.info'>
  <meta property='og:title' content="Yaron Cohen | Web Innovation">
  <meta name="twitter:title" content="Yaron Cohen | Web Innovation">
  <meta property='og:description' content='Yaron Cohen is a web developer and data analyst who loves innovation and web-related stuff. In this website, he presents his capailities to the world '>
  <meta name="twitter:description" content="Yaron Cohen is a web developer and data analyst who loves innovation and web-related stuff. In this website, he presents his capailities to the world">
  <!-- <meta property='og:image' content='img/features/iphone_mockup_payment.jpg'>
  <meta name="twitter:image" content='img/features/iphone_mockup_payment.jpg'> -->
  <link rel="canonical" href="https://www.yaron-cohen.info/">
  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
    <section class="header">
         <div class="header-content">  
          <h1 class="notify">Welcome!</h1>
          <p id="headerLine">Join me for a little web journey.</p>
            <ul class=buttons_header>
                <li class="button_header"> 
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </li>
                <li class="button_header"> 
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </li>
                <li class="button_header"> 
                    <i class="fa fa-quora" aria-hidden="true"></i>
                </li>
            </ul>
         </div>
      </section>
      
      <section class="about">
        <div class="whoIs">
          <h1>Yaron Cohen</h1>
          <h4>Web Innovator</h4>
          <p>I started my jounrey back then blah blah blah....</p>
        </div>
        <div class="profilePhoto">
          
        </div>
      </section>
      
      <section class="services"> 
          <div> 
              <div class="advButtons"> 
                  <i class="fa fa-laptop" aria-hidden="true"></i>
              </div>
              <h4>Web Development</h4>
              <p class="ex1">Web Development</p>
          </div>
          <div> 
              <div class="advButtons">
                 <i class="fa fa-database" aria-hidden="true"></i>
              </div>
              <h4>Data Analysis</h4>
              <p class="ex1">Lorem ipsum dolor sit,<br> soluta iusto eius consequatur qui</p>
          </div>
          <div> 
              <div class="advButtons">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </div>
              <h4>Blogging</h4>
              <p class="ex1">Lorem ipsum dolor sit,<br> soluta iusto eius consequatur qui</p>
          </div>
      </section>
    
</body>

</html>
