<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Get Introduced | Jobbook</title>
  <meta name='description' content='Jobbook helps you stand-out by introducing you to opportunities that match your profile. With a targeted Jobbook profile, introducing yourself is a breeze—and gives you a leg up.'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta property='og:type' content='website'>
  <meta property='og:locale' content='en_US'>
  <meta property='og:url' content='https://www.gotaproom.com'>
  <meta property='og:title' content="Get Introduced | Jobbook">
  <meta name="twitter:title" content="Get Introduced | Jobbook">
  <meta property='og:description' content='Jobbook helps you stand-out by introducing you to opportunities that match your profile. With a targeted Jobbook profile, introducing yourself is a breeze—and gives you a leg up. '>
  <meta name="twitter:description" content="Jobbook helps you stand-out by introducing you to opportunities that match your profile. With a targeted Jobbook profile, introducing yourself is a breeze—and gives you a leg up.">
  <!-- <meta property='og:image' content='img/features/iphone_mockup_payment.jpg'>
  <meta name="twitter:image" content='img/features/iphone_mockup_payment.jpg'> -->
  <link rel="canonical" href="https://www.jobbook.com/">
  <link rel="icon" href="img/favicon.png" type="image/x-icon" />
</head>

<body>

</body>

</html>
