// colors

$color-1: #a78f6f;
$color-2: #9c8567;
$color-3: #e0e0e0;
$color-4: #d6d6d6;
$color-5: #333333;
$color-6: #292929;

// global layout spacing
$global-container-padding: rem(30);

$global-content-max-width: rem(500);
$global-container-max-width: 1440px;
